* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dancing Script", cursive;
  background-color: white;
}

p {
  padding: 10px;
  text-align: center;
  background-color: rgb(211, 6, 74);
  color: rgb(247, 239, 239);
  height: 36px;
}

.search__box {
  position: absolute;
  top: 50%;
  margin-top: 75px;
  left: 47%;
  transform: translate(-50%, -50%);
  background: rgb(211, 6, 74);
  border-radius: 40px;
  padding: 10px;
}

.search__txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0%;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 20px;
  width: 200px;
}

.logo {
  margin: 50px;
  width: 250px;
}

.food__list {
  width: 375px;
}

.btn{
  float: right;
background-image:linear-gradient(rgb(211, 6, 74), rgb(211, 6, 74));
  padding: 0.5rem 1rem;
  margin: 10px;
  color: black;
  font-weight: 700;
  border-radius: 7px;
  background-size: 200% auto;
  display: block;
}

h1 {
  font-size: large;
  margin: 50px;
  height: 50px;
  text-align: center;
  color: rgb(211, 6, 74);
}

.restro1 {
  width: 375px;
  margin-bottom: 20px;
}

.restro2 {
  width: 375px;
  margin-bottom: 20px;
}

.footer__list{
  background-color:rgb(211, 6, 74);
}

.pic1{
  margin-left: 10%;
  width: 60px;
}

.pic2{
  margin-top: 70px;
  margin-left: 50px;
  width: 60px;
}

.pic3{
  width: 60px;
  margin-bottom: 15px;
  margin-left: 40px;
}

h3{
  text-align: center;
  margin-top: 50px;
  color: rgb(211, 6, 74);
}

h4{
  text-align: center;
  color: rgb(211, 6, 74);
}

.google__logo{
  float: right;
 margin-bottom: 20px;
  width: 200px;
}

.apple__logo{
  width: 200px;
}

@media (min-width: 1200px) {
  .logo {
    float: left;
    width: 350px;
    margin: 50px;
  }

  .food__list {
    width: 1500px;
    top: 50px;
  }

  .search__txt {
    width: 900px;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
  }

  .search__box {
    margin: 10px;
    margin-top: 500px;
    width: 400px;
  }

  h1 {
    font-size: 250%;
    text-align: center;
    color: rgb(211, 6, 74);
  }

  .restro1 {
    width: 500px;
    display: flex;
    float: right;
    margin-bottom: 20px;
  }

  .restro2 {
    width: 500px;
    display: flex;
    margin-left: 35px;
    margin-bottom: 20px;
  }

  .google__logo{
    width: 200px;
    float: left;
    margin-left: 500px;
  }
  
  .apple__logo{
    margin: 50px;
    width: 200px;
  }

  .footer__list{
    background-color:rgb(211, 6, 74);
  }

  h5{
 font-size: 20px;
  }

 h3{
   font-size: 30px;
 }

  .pic1{
    margin-left: 40%;
    width: 60px;
  }
  
  .pic2{
    margin-top: 70px;
    margin-left: 50px;
    width: 60px;
  }
  
  .pic3{
    width: 60px;
    margin-bottom: 15px;
    margin-left: 50px;
  }

}
